body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #283c86, #45a247);
  background-attachment: fixed;
  text-align: center;
}

.app-Title {
  margin-top: 75px;
  margin-bottom: 75px;
  font-size: 76px;
  color: #0ccac4;
  font-family: "Bigelow Rules";
  display: flex;
  justify-content: center;
  align-items: center;
}
